@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
.navLogoCustom:hover {
  animation: pulse;
  animation-duration: 3s; }

.fadeInEntrance {
  animation: fadeIn;
  animation-duration: 2s; }

.fontAlexBrush {
  font-family: 'Alex Brush', cursive; }

.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover; }

.carousel img {
  width: 100%;
  height: 50vh;
  object-fit: cover; }

.modal img {
  width: 100%;
  height: 60vh;
  object-fit: cover; }

.card-img-carrito {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  width: 40vw; }

.fontSizeTitle {
  font-size: 3rem; }

.shadowBox:hover {
  box-shadow: 1px 1px 10px #000; }

body {
  background-color: #F4F4F4; }

#indexBtn {
  background-color: #47525d; }

#contactoBtn {
  background-color: #47525d; }

.btnAgregarAlCarrito:active {
  background-color: #b94141; }

.btn-remover-producto:hover {
  color: #b94141 !important; }

#btn-vaciar-carrito:active {
  background-color: #b94141; }

#btn-finalizar-compra:active {
  background-color: #b94141; }

.dropdown-item:active {
  background-color: #2b2929 !important; }

footer {
  height: 10vh; }

#wpIcon {
  color: #128c7e; }

#igIcon {
  color: #833AB4; }

#fbIcon {
  color: #4267B2; }

#imgUbicacion {
  width: 100%;
  max-height: 140vh;
  object-fit: cover; }

#mapUbicacion {
  min-height: 30vh; }

@media (min-width: 576px) {
  /* sm */
  .card-img-top {
    width: 100%;
    height: 35vh;
    object-fit: cover; } }

@media (min-width: 768px) {
  /* md */ }

@media (min-width: 992px) {
  /* lg */
  .carousel img {
    width: 100%;
    height: 90vh;
    object-fit: cover; }
  #imgContacto {
    width: 100%;
    max-height: 140vh;
    object-fit: cover; }
  .modal img {
    width: 100%;
    height: 80vh;
    object-fit: cover; }
  .card-img-carrito {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    width: 12vw; } }

@media (min-width: 1200px) {
  /* xl */
  .card-img-top {
    width: 100%;
    height: 45vh;
    object-fit: cover; }
  .carousel img {
    width: 100%;
    height: 140vh;
    object-fit: cover; }
  #mapUbicacion {
    min-height: 55vh; } }

@media (min-width: 1400px) {
  /* xxl */
  .carousel img {
    width: 100%;
    height: 90vh;
    object-fit: cover; }
  #imgContacto {
    width: 100%;
    max-height: 100vh;
    object-fit: cover; }
  footer {
    height: 7vh; }
  #indexTitle {
    font-size: 4rem; }
  #indexText {
    font-size: 1.5rem; }
  #indexBtn {
    font-size: 1.5rem; }
  h1 {
    font-size: 3.5rem; }
  p {
    font-size: 1.3rem; }
  #contactoBtn {
    font-size: 1.2rem; }
  label {
    font-size: 1.2rem; } }
